@import url(https://deploy-preview-1--roshanuidesign.netlify.app/main.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --vid-primary: rgb(76, 76, 228);
  --vid-opacity: rgba(76, 76, 228, 0.2);
  --vid-opacity5: rgba(76, 76, 228, 0.4);
  --vid-border5: 1px solid var(--vid-opacity5);
}

body {
  background: var(--third);
}
