.recommended-vid__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* -------small screen------ */
/* @media screen and (max-width: 780px) {
  .recommended-vid {
    margin: 0;
  }
} */
